<!DOCTYPE html>
<html>
<head>
	<title>Error </title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../components/Error/style.css">
</head>
<!-- add css  file-->

<body>
	
	<div class="top"></div>
		
		<div class="error"> Error occured</div>	
		<p>Go back to <a href="/">Home page</a></p>

	<div class="bottom"></div>
</body>
</html>