body{
	margin: 0;
	padding: 0;
	display: flex;
  position: relative;
	flex-direction: column;
	justify-content: center;
  overflow: hidden;
	align-items: center;
	height: 100vh;
	font-family: 'Jost', sans-serif;
	background: url("./Bg.svg");
  background-size: cover;
}

.error{
	font-size: 2rem;
}

p{
	font-size: 2.5rem;
}

.top,
.bottom {
  position: absolute;
  z-index: -1;
  width: 800px;
  height: 700px;
  border-radius: 50%;
}

.top{
  top: -50%;
  left: -20%;
  background-image: linear-gradient(45deg, #000, #0000ff4a);
}

.bottom{
  bottom: -50%;
  right: -20%;
  background-image: linear-gradient(45deg, #000, #0000ff4a);
}
.body::before {
  content: "A"; /* Replace "A" with the desired letter */
  position: absolute;
  top: calc(100% * -1);
  left: calc(100% * (var(--left) / 100));
  animation: drop 1s linear infinite;
}

a{
	text-decoration: none;
}