<!DOCTYPE html>
<html>
<head>
	<title><%=tittle %></title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../components/start/style.css">
</head>
<!-- add css  file-->

<body>
	
	<div class="top"></div>
		<section class="username">
			<div><%=email %></div>
			<a href="/auth/logout">Logout</a>
		</section>

		<a class="btn-start"href="/1">
			Start  
			<img src=".././components/start/sButton.svg" alt="this is img" class="play-icon">
		</a>
		<div class="bottom"></div>

		<div class="animation">👽</div>
		<div class=" animation-right">101</div>

</body>
</html>