<!DOCTYPE html>
<html>
<head>
	<title><%=tittle %></title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../components/2/style.css">
</head>
<!-- add css  file-->

<body>
	
	<div class="top"></div>
		<section class="username">
			<div><%=email %></div>
			<a href="/auth/logout">Logout</a>
		</section>
		<div class="question">
			<p>Congrats 🎉 ,You have Passed the SoftSkill Test with the Score of <%= score%></p>
		</div>
		
		<div class="bottom"></div>
</body>

</html>
