<!DOCTYPE html>
<html>
<head>
	<title><%=tittle %></title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../components/2/style.css">
</head>
<!-- add css  file-->

<body>
	
	<div class="top"></div>
		<section class="username">
			<div><%=email %></div>
			<a href="/auth/logout">Logout</a>
		</section>
		<div class="question">
			<p>What number, when written as a word, is the same whether it's written upside down or right side up? I was there when this game was started 😆. </p>
			<input type="text" name="name" autocomplete="off" id="name">
			<button class="btn">Submit</button>
		</div>
		
		<div class="bottom"></div>
</body>
<script>
	let c=0;
	document.querySelector('.btn').addEventListener('click',function(){
		
		var name = document.querySelector('#name').value;
		if(name == "101"){
			fetch('/insert/3',{
				method:'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body:JSON.stringify({
					score:200
				})
			})
			window.location.href = "/final";
		}
		else{
			if(c==0){
				c++;
				alert("Hint:Spend some time on each page");
			}else if(c==1){
				c++;
				alert("See you later..Better Luck next time");
				c=0;
			window.location.href = "/";
			}
			
		}
	})
</script>
</html>
