<!DOCTYPE html>
<html>
<head>
	<title><%=tittle %></title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../components/2/style.css">
</head>
<!-- add css  file-->

<body>
	
	<div class="top"></div>
		<section class="username">
			<div><%=email %></div>
			<a href="/auth/logout">Logout</a>
		</section>
		<div class="question">
			<p>How many unique emotes where their in Previous Game? </p>
			<input type="text" name="name" autocomplete="off" id="name">
			<button class="btn">Submit</button>
		</div>
		
		<div class="bottom"></div>
</body>
<script>
	document.querySelector('.btn').addEventListener('click',async function(){
		var name = document.querySelector('#name').value;
		let c=0;
		if(name == "8"){
			await fetch('/insert/2',{
				method:'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body:JSON.stringify({
					score:100
				})
			})
			window.location.href = "/3";
		}
		else{
			// alert("Wrong answer");
			// window.location.href = "/";
			if(c==0){
				c++;
				alert(" Wrong Answer, Try Again, You have 1 more chance")
				alert("Hint:There were only 16 boxes in the game");

			}else if(c==1){
				c++;
				alert("See you later..Better Luck next time");
				c=0;
			window.location.href = "/";
			}

		}
	})
</script>
</html>
